<h1><%= @article.title %> by <%= @article.author %></h1>
<hr/>
<%= link_to 'Edit this article', edit_article_path(@article) %>
<%= link_to 'Back to article listing', articles_path %>
<%= link_to 'Delete this article', @article, method: :delete %> 
